.fea-markdown {
  &.x-markdown-light pre code:not([class$='-highlightCode-code'] pre code) {
    padding: 0 !important;
    background-color: transparent !important;
    margin: 0 !important;
  }

  .fea-markdown-body-block-chart {
    background: white;
    border-radius: 6px;
    margin: 0.5rem;

    .fea-markdown-body-block-chart-title {
      font-size: 16px;
      font-weight: bold;
      padding: 10px;
    }
  }

  .fea-markdown-body-block-knowledge-ref[data-id] {
    height: 16px;
    min-width: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    border: 1px solid #0374e9;
    color: #0374e9;
    font-size: 12px;
    padding: 0 4px;
  }

  .fea-markdown-body-block-knowledge-ref-source {
    color: #0374e9;
    cursor: pointer;
  }
}
