.fec-crud-of-pure {
  .ant-pro-table .ant-pro-table-search {
    margin-block-end: 0;
  }

  .ant-pro-query-filter.ant-pro-query-filter {
    padding: 16px;
  }

  .ant-pro-card .ant-pro-card-body {
    padding-inline: 16px;
  }

  .ant-pro-query-filter-container {
    .ant-col.ant-col-6,
    .ant-col.ant-col-8,
    .ant-col.ant-col-12 {
      flex: none !important;
      min-width: 150px !important;
    }

    .ant-col.ant-col-offset-6,
    .ant-col.ant-col-offset-8,
    .ant-col.ant-col-offset-12,
    .ant-col.ant-col-offset-16,
    .ant-col.ant-col-offset-18,
    .ant-col.ant-col-offset-24 {
      margin-inline-start: 0 !important;
    }

    .ant-pro-query-filter-actions {
      // 可能有问题
      .ant-form-item-label {
        display: none;
      }
    }

    .ant-pro-query-filter-collapse-button {
      display: none;
    }
  }

  .ant-pro-table-list-toolbar-container {
    padding-block: 0 16px;
  }

  &.fec-crud-of-pure-no-search {
    .ant-pro-table-list-toolbar-container {
      padding-block-start: 16px;
    }
  }

  &.fec-crud-of-pure-special-toolbar {
    .ant-pro-table-search {
      z-index: 10;
    }

    .ant-pro-card:not(.ant-pro-table-search) {
      margin-top: -48px;

      & > .ant-pro-card-body {
        // height: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    .ant-pro-table-list-toolbar {
      z-index: 10;
      pointer-events: none;

      .ant-pro-table-list-toolbar-left {
        margin-block-end: 0;
      }

      .ant-pro-table-list-toolbar-right > div {
        pointer-events: auto;
      }
    }

    &.fec-crud-of-pure-special-toolbar-empty {
      .ant-pro-card:not(.ant-pro-table-search) {
        margin-top: -16px;
      }
    }
  }
}
