.mini-list {
  &.mini-list-response-width {
    .at-list__item-extra {
      max-width: initial;
    }
  }

  &.mini-list-size-small {
    .at-list__item {
      padding: 0.3rem 0.6rem;
    }
  }
}

.mini-list-item-extra-text-default-color {
  .item-extra__info {
    color: inherit;
  }
}
