.fec-crud-detail {
  // 查看情况下隐藏 FormItem 的 extra
  &.fec-crud-detail-hide-extra {
    .ant-form-item {
      .ant-form-item-extra {
        display: none;
      }
    }
  }
}

.fec-crud {
  // 只有 icon 才设置大小
  .fec-crud-operate-btn.fec-crud-operate-btn-icon {
    font-size: 20px;
    line-height: 22px;
  }
}

.fec-crud.fec-crud-full-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  .fec-table {
    height: 100%;
    display: flex;
    flex-direction: column;

    & > .ant-pro-table-search {
      flex-shrink: 0;
    }

    & > .ant-pro-card:not(.ant-pro-table-search) {
      flex: 1;
      overflow: auto;
      display: flex;

      & > .ant-pro-card-body {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    .ant-table-wrapper {
      flex: 1;
      overflow: auto;

      & > div {
        height: 100%;

        .ant-spin-container {
          height: 100%;
          display: flex;
          flex-direction: column;
        }
      }
    }

    .ant-table {
      flex: 1;
      overflow: auto;

      .ant-table-container {
        height: 100%;
        display: flex;
        flex-direction: column;

        .ant-table-header {
          flex-shrink: 0;
        }

        .ant-table-body {
          scrollbar-width: thin;
        }
      }

      &.ant-table-bordered {
        .ant-table-container {
          border-inline-start: none !important;
          border-bottom: 1px solid var(--ant-table-border-color) !important;

          .ant-table-thead {
            & > tr > th:first-child {
              border-inline-start: 1px solid var(--ant-table-border-color) !important;
            }
          }

          .ant-table-row {
            & > td:first-child {
              border-inline-start: 1px solid var(--ant-table-border-color) !important;
            }
          }
        }
      }
    }
  }
}
