.fec-crud-of-list {
  .ant-pro-table-list-toolbar {
    border-bottom: 1px solid #f0f0f0;
  }

  .ant-table-cell-fix-right {
    position: absolute !important;
    display: none;
  }

  .ant-table-row {
    &:hover {
      .ant-table-cell-fix-right {
        display: block;

        // 如果操作列没有内容，则隐藏操作列
        &:has(.fec-crud-operate-column:empty) {
          display: none;
        }
      }
    }
  }

  .ant-pro-table-list-toolbar-container {
    justify-content: unset;

    .ant-pro-table-list-toolbar-right {
      justify-content: unset;

      & > div {
        flex: 1;
        margin-right: 8px;
      }
    }
  }

  &.fec-crud-of-list-no-toolbar {
    .ant-pro-table-list-toolbar-container {
      padding-block: 0;
    }
  }

  &.fec-crud-of-list-toolbar-sticky {
    .ant-pro-table-list-toolbar {
      position: sticky;
      top: 0;
      z-index: 10;
      background-color: #fff;
    }
  }

  .ant-table-bordered {
    .ant-table-container {
      border-top: none !important;
      border-left: none !important;

      .ant-table-row {
        .ant-table-cell {
          border-inline-end: none !important;
        }
      }
    }
  }
}
