.fea-sender {
  .ant-upload-select {
    display: none !important;
  }

  .ant-upload-list {
    display: none !important;
  }

  .ant-upload-wrapper {
    display: none;
  }

  &.fea-sender-drag-hover {
    .ant-upload-wrapper {
      display: block;
      position: absolute;
      inset: 0;
      z-index: 10;

      .ant-upload-drag {
        border-color: theme('colors.primary');
      }
    }
  }

  .fea-sender-spinner {
    display: block;
    position: relative;
    width: 2px;
    height: 0;
  }

  .fea-sender-spinner .fea-sender-spinner-line {
    position: absolute;
    width: 2px;
    height: 4px;
    content: '';
    background-color: theme('colors.primary');
  }

  .fea-sender-spinner .fea-sender-spinner-line1 {
    left: -6px;
    animation: rectangle infinite 1s ease-in-out 0s;
  }

  .fea-sender-spinner .fea-sender-spinner-line2 {
    left: -2px;
    animation: rectangle infinite 1s ease-in-out 0.25s;
  }

  .fea-sender-spinner .fea-sender-spinner-line3 {
    right: -2px;
    animation: rectangle infinite 1s ease-in-out 0.5s;
  }

  .fea-sender-spinner .fea-sender-spinner-line4 {
    right: -6px;
    animation: rectangle infinite 1s ease-in-out 0.75s;
  }

  @keyframes rectangle {
    0%,
    80%,
    100% {
      height: 4px;
      box-shadow: 0 0 theme('colors.primary');
    }

    40% {
      height: 6px;
      box-shadow: 0 -6px theme('colors.primary');
    }
  }
}
