$color-brand: var(--color-brand, #6190e8);

@import 'taro-ui/dist/style/index';

// fix_taro_ui
.at-modal__content {
  min-height: 2rem;
}

// fix_taro_ui
.weui-tabbar__item {
  padding-bottom: 0 !important;
}
.weui-picker__action:last-child {
  color: $color-brand !important;
}

.at-float-layout .layout-body__content {
  min-height: 12.85rem;
  position: relative;
}

taro-button-core[type='primary']:not([disabled]):active {
  background-color: $color-brand !important;
}

// override theme
.weui-switch:checked {
  background-color: $color-brand !important;
  border-color: $color-brand !important;
}
//
.at-input__children span {
  color: $color-brand !important;
}
.at-tag--active.at-tag--primary {
  border-color: $color-brand !important;
  background-color: $color-brand !important;
}
.at-list__item .item-extra__info {
  color: #727272;
}

.mini-required {
  &::before {
    display: inline-block;
    margin-right: 0.2rem;
    color: #ff4949;
    font-size: 0.7rem;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
  }
}
