.markdown-body {
  pre {
    padding: 0;
  }

  .markdown-body-code-block {
    margin: 0.5rem 0;

    & > div {
      margin: 0 !important;
    }
  }

  .markdown-body-chart-block {
    background: white;
    border-radius: 6px;
    margin: 0.5rem;

    .markdown-body-chart-block-title {
      font-size: 16px;
      font-weight: bold;
      padding: 10px;
    }
  }
}
