/** 和 antd 冲突，不开启 */
/* stylelint-disable-next-line at-rule-no-unknown */
// @tailwind base;

// base
* {
  border: 0 solid;
  box-sizing: border-box;
}

/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind components;

/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind utilities;

.fec-app-hidden-form-item-label-colon {
  // 隐藏 label 的冒号
  .ant-form-item .ant-form-item-label > label::after {
    visibility: hidden;
  }
}

.ant-modal-footer {
  .ant-btn {
    padding: 0 40px;
  }
}

.ant-modal-confirm-btns {
  .ant-btn {
    padding: 0 40px;
  }
}
