.fec-app-hidden-form-item-label-colon {
  // 隐藏 label 的冒号
  .ant-form-item .ant-form-item-label > label::after {
    visibility: hidden;
  }
}

.ant-modal-footer {
  .ant-btn {
    padding: 0 40px;
  }
}

.ant-modal-confirm-btns {
  .ant-btn {
    padding: 0 40px;
  }
}
