/** 和 antd 冲突，不开启 */
/* stylelint-disable-next-line at-rule-no-unknown */
// @tailwind base;

// base
* {
  border: 0 solid;
}

/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind components;

/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind utilities;

.fec-bg {
  background-color: #f3f5f6;
}

.fec-bg-hover {
  background-color: #f3f5f6;

  &:hover {
    background-color: #e9ebec;
  }
}
