.fea-markdown.x-markdown {
  --hr-margin: 1em 0;
  --margin-ul-ol: 0;
  --margin-block: 0 0 8px 0;

  ul,
  ol {
    li {
      margin: 0;
    }
  }

  .ant-codeHighlighter-header {
    padding: 8px 12px;
  }

  &.x-markdown-light pre code:not([class$='-highlightCode-code'] pre code) {
    padding: 0 !important;
    background-color: transparent !important;
    margin: 0 !important;
  }

  .fea-markdown-body-block-chart {
    background: white;
    border-radius: 6px;
    margin: 0.5rem;

    .fea-markdown-body-block-chart-title {
      font-size: 16px;
      font-weight: bold;
      padding: 10px;
    }
  }
}

.fea-sender {
  .ant-upload-select {
    display: none !important;
  }

  .ant-upload-list {
    display: none !important;
  }

  .ant-upload-wrapper {
    display: none;
  }

  &.fea-sender-drag-hover {
    .ant-upload-wrapper {
      display: block;
      position: absolute;
      inset: 0;
      z-index: 10;

      .ant-upload-drag {
        border-color: theme('colors.primary');
      }
    }
  }
}

@keyframes fea-sender-rectangle-white {
  0%,
  80%,
  100% {
    height: 4px;
    box-shadow: 0 0 theme('colors.white');
  }

  40% {
    height: 8px;
    box-shadow: 0 -8px theme('colors.white');
  }
}

@keyframes fea-sender-rectangle-primary {
  0%,
  80%,
  100% {
    height: 4px;
    box-shadow: 0 0 theme('colors.primary');
  }

  40% {
    height: 8px;
    box-shadow: 0 -8px theme('colors.primary');
  }
}

.fea-message-think {
  &:not(.fea-message-think-deep-seek) {
    .ant-think-content {
      border-inline-start: none;
      background-color: theme('backgroundColor.01');
      padding: 12px 16px;
      border-radius: 8px;
    }
  }
}
