@keyframes sender-rectangle-white {
  0%,
  80%,
  100% {
    height: 4px;
    box-shadow: 0 0 theme('colors.white');
  }

  40% {
    height: 8px;
    box-shadow: 0 -8px theme('colors.white');
  }
}

@keyframes sender-rectangle-primary {
  0%,
  80%,
  100% {
    height: 4px;
    box-shadow: 0 0 theme('colors.primary');
  }

  40% {
    height: 8px;
    box-shadow: 0 -8px theme('colors.primary');
  }
}
