.mini-checkbox {
  &.mini-checkbox-size-small {
    .at-checkbox__option-wrap {
      margin-left: 0.6rem;
      padding: 0.3rem 0;
    }
  }

  &.mini-checkbox-no-border {
    &.at-checkbox {
      &::after {
        border: none;
      }

      &::before {
        border: none;
      }
    }
  }
}
