.fec-tree {
  &.fec-tree-no-wrap {
    .ant-tree-title {
      white-space: nowrap;
    }
  }

  .ant-tree-switcher {
    margin-inline-end: 0 !important;
  }

  &.fec-tree-large {
    .ant-tree-treenode {
      line-height: 32px;
    }
  }
}

.fec-file-tree {
  .ant-tree-node-content-wrapper {
    overflow: hidden;
  }

  .ant-tree-switcher {
    &:hover {
      &::before {
        background-color: transparent !important;
      }
    }
  }

  &.fec-tree-all-leaf {
    .ant-tree-switcher {
      display: none;
    }

    .ant-tree-node-content-wrapper {
      padding-inline-start: 8px !important;
    }
  }
}
