.cl-tree {
  &.cl-tree-no-wrap {
    .ant-tree-title {
      white-space: nowrap;
    }
  }

  .ant-tree-switcher {
    margin-inline-end: 0 !important;
  }
}

.cl-file-tree {
  .ant-tree-node-content-wrapper {
    overflow: hidden;
    padding-inline-start: 0 !important;
  }

  &.cl-tree-all-leaf {
    .ant-tree-switcher {
      display: none;
    }

    .ant-tree-node-content-wrapper {
      padding-inline-start: 8px !important;
    }
  }
}
