.fec-table {
  .ant-table.ant-table-middle {
    .ant-table-thead > tr > th {
      padding: 8px;
    }
  }

  .ant-pagination {
    // gap: 8px;

    // 奇怪的问题。 full page 的时候会有滚动条。 需要 overflow: hidden;
    & > li {
      overflow: hidden;
    }

    .ant-pagination-options {
      order: -1;
      margin-right: 8px;
    }

    .ant-pagination-prev,
    .ant-pagination-next {
      .ant-pagination-item-link {
        border: 1px solid var(--ant-color-border);
      }
    }

    .ant-pagination-item {
      border: 1px solid var(--ant-color-border);

      &.ant-pagination-item-active {
        color: var(--color-theme08);
        background-color: var(--color-theme03);
        border-color: var(--color-theme05);
      }
    }
  }
}
